$primary-color: #EF4E4E;
$primary-color-hover: #D93D3D; // Define hover color
$primary-color-disabled: #F2B2B2; // Define disabled color
$background-color: #FFFFFF;
$input-border-color: #ddd;
$text-color: #131212;
$error-color: #ff0000;
$mobile-breakpoint: 768px;