/* In your plans.scss or a separate CSS file */
.MuiDialog-title {
    font-weight: bold;
    color: #3f51b5; /* Change to your preferred color */
  }
  
  .MuiButton-textPrimary {
    color: #3f51b5; /* Change to your preferred color */
  }
  
  .MuiButton-textSecondary {
    color: #f44336; /* Change to your preferred color */
  }
  